{% extends "index.html.twig"%}

{% block title %}operations{% endblock %}
 {% block stylesheets %}
     <!-- DataTables -->
     <link rel="stylesheet" href="{{ asset('theme/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css')}}">
     <link rel="stylesheet" href="{{ asset('theme/plugins/datatables-responsive/css/responsive.bootstrap4.min.css')}}">
 {% endblock %}
{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Operations</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Table des opérations</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row mb-2">
                                <div class="col-sm-6">
                                    <a href="{{ path('operation_add') }}"  class="btn btn-success" >Créer</a>
                                </div>
                                <div class="col-sm-6">
                                    <div class="input-group input-group-sm">
                                        <input class="form-control form-control-navbar " type="search" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-navbar" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {#                                {% if users %}#}
                            <table id="#example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date création</th>
                                    <th>Commentaire</th>
                                    {#                                    <th>Libellé</th>#}
                                    <th>Actions</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for operations in operations %}
                                    <tr>
                                        <td>{{ operations.id }}</td>
                                        <td>{{ operations.dateCreation |date("Y/m/d") }}</td>
                                        <td>{{ operations.commentaire }}</td>
                                        {#                                        <td>{{ operations.libelle }}</td>#}
                                        <td>
                                            <a href="{{ path('operation_by_id',{'id':operations.id }) }}" class="btn btn-primary "> <i class="fas fa-eye"></i> Détails</a>
                                            {#                                            <a href="{{ path('operation_delete',{'id':operations.id }) }}" class="btn btn-warning"> <i class="fas fa-pencil-alt"></i> Modifier</a>#}
                                            <a href="{{ path('operation_delete',{'id':operations.id }) }}" class="btn btn-danger " onclick="return confirm('Voulez vous vraiment supprimer cette opération ?')" > <i class="fas fa-trash"></i> Supprimer</a>
                                            {#                                             {{ include('Operations/delete.html.twig') }}#}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#                            {% else %}#}
                            {#                                <p>No users to display</p>#}
                            {#                            {% endif %}#}
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </section>
    <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
{% endblock %}

{% block javascripts %}
    <!-- jQuery -->
    <script src="{{  asset('theme/plugins/jquery/jquery.min.js')}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{  asset('theme/plugins/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <!-- DataTables -->
    <script src="{{  asset('theme/plugins/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{  asset('theme/plugins/datatables-responsive/js/responsive.bootstrap4.min.js')}}"></script>
    <!-- AdminLTE App -->
    <script src="{{  asset('theme/dist/js/adminlte.min.js')}}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{  asset('theme/dist/js/demo.js')}} "></script>
    <!-- page script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true,
                "autoWidth": false,
            });
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
{% endblock %}
